.player {
  width: 50%;
  display: flex;
  /* background-color: black; */
}

.albumArt {
  width: 44%;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: white;
  color: white;
  margin-top: 27%;
}
